* {
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

img {
    width: 8rem;
    height: 5rem;
    margin: 3rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
}

.Heading {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 60rem;
    margin: 2rem auto;
}

.loginBody {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 40%;
    margin: 1rem auto;
    padding: 2rem;
    height: 20rem;
    align-items: center;
    background-color: white;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

h2 {
    background-color: rgb(66, 25, 189);
    padding: 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    margin: 0rem;
    width: 15rem;
    text-align: center;
}

form div {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-size: 1.5rem;
}

button {
    background-color: rgb(189, 25, 25);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 6rem;
    margin: 1rem auto;
}

.container {
    display: flex;
}

img[alt="Webpage image"] {
    width: 30rem;
    height: 15rem;
    margin: 2rem 10rem 2rem 0rem;
    padding: 0;
    border-radius: 10px;
    box-shadow: 60px 50px 10px 0px rgba(118, 204, 235, 0.75);
}

input {
    font-weight: light;
    border-radius: 3px;
    width: 15rem;
    height: 2rem;
}

.userCat {
    font-weight: light;
    border-radius: 3px;
    width: 15rem;
    height: 2rem;
}

div + span {
    display: inline-block;
    text-align: center;
    width: 12rem;
    text-size-adjust: 1.5rem;
    margin: 3rem 20rem;
    line-height: 1rem;
}

div+p p:hover, div+p span:hover, button:hover {
    cursor: pointer;
    background-color: yellow;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 2rem;
}

div + p {
    display: inline-block;
    text-align: center;
    width: 12rem;
    text-size-adjust: 1.5rem;
    margin: 3rem 20rem;
    line-height: 1rem;
}

.signupBody {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    width: 35%;
    margin: 0rem auto;
    padding: 2rem;
    height: 30.8rem;
    align-items: center;
    background-color: white;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
    overflow: hidden;
}

.Heading2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 60rem;
    margin: 0rem auto;
}

.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 30rem;
    text-size-adjust: 1.5rem;
    margin: 3rem 20rem;
    line-height: 1rem;
    font-size: 1rem;
}